<style>
    /*********footer*******************/
   .kilimanjaro_area {
      position: relative;
      z-index: 1;
      }
      .foo_top_header_one {
      background-color: #2b6422;
      color: #fff;
  }
  .section_padding_100_70 {
      padding-top: 100px;
      padding-bottom: 70px;
  }
  .foo_top_header_one {
      color: #fff;
  }.kilimanjaro_part {
      margin-bottom: 30px;
  }
  .foo_top_header_one .kilimanjaro_part > h5 {
      color: #fff;
  }
  .kilimanjaro_part h4, .kilimanjaro_part h5 {
      margin-bottom: 30px;
  }
  .kilimanjaro_single_contact_info > p, .kilimanjaro_single_contact_info > h5, .kilimanjaro_blog_area > a, .foo_top_header_one .kilimanjaro_part > p {
      color: rgba(255,255,255,.5);
  }
  p, ul li, ol li {
      font-weight: 300;
  }
  ul {
      margin: 0;
      padding: 0;
  }
  .kilimanjaro_bottom_header_one {
      background-color: #111;
  }
  .section_padding_50 {
      padding: 50px 0;
  }
  .kilimanjaro_bottom_header_one p {
      color: #fff;
      margin: 0;
  }
  p, ul li, ol li {
      font-weight: 300;
  }
  .kilimanjaro_bottom_header_one a {
      color: inherit;
      font-size: 14px;
  }
  a, h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
  }
  .m-top-15 {
      margin-top: 15px;
  }
  ul {
      margin: 0;
      padding: 0;
  }
  
  .kilimanjaro_widget > li {
      display: inline-block;
  }
  p, ul li, ol li {
      font-weight: 300;
  }
  ol li, ul li {
      list-style: outside none none;
  }
  .kilimanjaro_widget a {
      border: 1px solid #333;
      border-radius: 6px;
      color: #888;
      display: inline-block;
      font-size: 13px;
      margin-bottom: 4px;
      padding: 7px 12px;
  }
  ul {
      margin: 0;
      padding: 0;
  }
  .kilimanjaro_links a {
      border-bottom: 1px solid #333;
      color: rgba(255,255,255,.5);
      display: block;
      font-size: 13px;
      margin-bottom: 5px;
      padding-bottom: 10px;
  }
  .kilimanjaro_links a {
      color: rgba(255,255,255,.5);
      font-size: 13px;
  }
  top-15 {
      margin-top: 15px;
  }
  .foo_top_header_one .kilimanjaro_part > h5 {
      color: #fff;
  }
  .kilimanjaro_part h4, .kilimanjaro_part h5 {
      margin-bottom: 30px;
  }
  .kilimanjaro_social_links > li {
      display: inline-block;
  }
  p, ul li, ol li {
      font-weight: 300;
  }
  .kilimanjaro_social_links a {
      border: 1px solid #333;
      border-radius: 6px;
      color: #888;
      display: inline-block;
      font-size: 13px;
      margin-bottom: 3px;
      padding: 7px 12px;
  }
  .kilimanjaro_blog_area .kilimanjaro_date {
      color: #27ae60;
      font-size: 13px;
      margin-bottom: 5px;
  }
  .kilimanjaro_blog_area > p {
      color: rgba(255,255,255,.5);
      line-height: 1.3;
      margin-bottom: 0;
  }
  .kilimanjaro_works > a {
      display: inline-block;
      position: relative;
      width: 33.33333333%;
      z-index: 1;
  }
  .kilimanjaro_thumb {
      left: 0;
      position: absolute;
      top: 0;
      width: 75px;
  }
  .kilimanjaro_links a i {
      padding-right: 10px;
  }
    /* :: 18.0 Footer Area CSS */
  
      .footer_area {
          position: relative;
          z-index: 1;
      }
   .footer_bottom p > i,
      .footer_bottom p > a:hover {
          color: #27ae60;
      }	
  
      .social_links_area {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding: 50px 0 30px 0;
          text-align: center;
          position: relative;
          z-index: 1;
      }
   .social_links_area > a:hover {
          color: #27ae60;
      }
  
      .inline-style .social_links_area > a:hover {
          background-color: transparent;
          color: #27ae60;
          border: 0px solid transparent;
      }
   .single_feature:hover .feature_text h4 {
          color: #27ae60;
      }
  .kilimanjaro_blog_area {
      border-bottom: 1px solid #333;
      margin-bottom: 15px;
      padding: 0 0 15px 90px;
      position: relative;
      z-index: 1;
  }
  .kilimanjaro_links a {
      border-bottom: 1px solid #333;
      color: rgba(255,255,255,.5);
      display: block;
      font-size: 13px;
      margin-bottom: 5px;
      padding-bottom: 10px;
  }
  </style>
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  
          <!--footer-->
  <footer class="kilimanjaro_area">
          <!-- Top Footer Area Start -->
          <div class="foo_top_header_one section_padding_100_70">
              <div class="container">
                  <div class="row">
                      <div class="col-12 col-md-6 col-lg-3">
                          <div class="kilimanjaro_part">
                              <h5>About Us</h5>
                              <p>Addressing the urgent issue of climate change and need for individuals and businesses to take responsibility for their own carbon emissions.</p>
                              <p>Website aims to make it easy and accessible for anyone to take action towards a more sustainable future by providing tips and suggestions for reducing emissions, as well as a progress tracking feature.</p>
                          </div>
                          <div class="kilimanjaro_part m-top-15">
                              <h5>Social Links</h5>
                              <ul class="kilimanjaro_social_links">
                                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                  <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
                                  <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
  
                          <div class="kilimanjaro_part m-top-15">
                              <h5>Important Links</h5>
                              <ul class="kilimanjaro_links">
                                  <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help & Support</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Careers</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                                  <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Community & Forum</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                          <div class="kilimanjaro_part">
                              <h5>Latest News</h5>
                              <div class="kilimanjaro_blog_area">
                                  <div class="kilimanjaro_thumb">
                              <img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                                  </div>
                                  <a href="https://www.nature.com/articles/d41586-022-03721-5#:~:text=Global%20carbon%20dioxide%20emissions%20from,Sharm%20El%2DSheikh%2C%20Egypt."target="_blank">Relentless carbon rise</a>
                                  <p class="kilimanjaro_date">15 November 2022</p>
                                  <p>Three key charts from the world of research, selected by Nature editors</p>
                              </div>
  
                              <div class="kilimanjaro_blog_area">
                                  <div class="kilimanjaro_thumb">
                                  <img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                                  </div>
                                  <a href="https://www.downtoearth.org.in/blog/environment/as-cryptocurrency-becomes-mainstream-its-carbon-footprint-can-t-be-ignored-81118"target="_blank">As cryptocurrency becomes mainstream, its carbon footprint can’t be ignored</a>
                                  <p class="kilimanjaro_date">14 January 2022</p>
                                  <p>As Bitcoin prices rise, so will the incentive to mine it, creating a feedback loop that spells trouble for the climate </p>
                              </div>
  
                              <div class="kilimanjaro_blog_area">
                                  <div class="kilimanjaro_thumb">
                                  <img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                                  </div>
                                  <a href="https://www.financialexpress.com/opinion/get-carbon-markets-right/2893770/">Get carbon markets right</a>
                                  <p class="kilimanjaro_date">28 November 2022</p>
                                  <p>Globally, existing trade suffers from varying, laxly-defined standards. India must ensure it doesn't replicate this</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                          <div class="kilimanjaro_part">
                              <h5>Quick Contact</h5>
                              <div class="kilimanjaro_single_contact_info">
                                  <h5>Phone:</h5>
                                  <p>+91 773812858 <br>+91 8169056423<br>+91 8291601861</p>
                              </div>
                              <div class="kilimanjaro_single_contact_info">
                                  <h5>Email:</h5>
                                  <p>aditi.ahuja172@nmims.edu.in<br>chinmayi.desai079@nmims.edu.in<br>bhavya.grover015@nmims.edu.in</p>
                              </div>
                          </div>
                          <div class="kilimanjaro_part">
                              <div class="kilimanjaro_works">
                                  <a class="kilimanjaro_works_img" href="https://images.app.goo.gl/n8ZqqWDiw5NZMCpQ8.jpg"><img src="https://images.app.goo.gl/n8ZqqWDiw5NZMCpQ8.jpg" alt=""></a>
                                  <a class="kilimanjaro_works_img" href="img/gallery/4.jpg"><img src="img/gallery/4.jpg" alt=""></a>
                                  <a class="kilimanjaro_works_img" href="img/gallery/5.jpg"><img src="img/gallery/5.jpg" alt=""></a>
                                  <a class="kilimanjaro_works_img" href="img/gallery/7.jpg"><img src="img/gallery/7.jpg" alt=""></a>
                                  <a class="kilimanjaro_works_img" href="img/gallery/10.jpg"><img src="img/gallery/10.jpg" alt=""></a>
                                  <a class="kilimanjaro_works_img" href="img/gallery/11.jpg"><img src="img/gallery/11.jpg" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer Bottom Area Start -->
          <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
              <div class="container">
                  <div class="row">
                  </div>
              </div>
          </div>
      </footer>